.columns {
    flex-grow: 1;
    min-width:250px;
    /*fixme width la fel pe ecran*/
    width: 340px;
    margin: .5rem;
    border-radius: var(--radius);
}
.row-flex-wrap{
    display: flex;
    flex-wrap:wrap;
}
@media screen and (max-width: 768px){
    .columns{
        width: 320px;
        min-width: 200px;
    }
}
@media screen and (max-width: 576px){
    .columns{
        width: 320px;
    }
}