@import "modules/navbar.css";
@import "modules/loading.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*npx tailwindcss -i ./src/css/style.css -o ./dist/style.css --watch */
/*todo verificat css fara head style*/
.loading {
    min-height: 20vh;
    min-width: 20vw;
    display: grid;
    justify-content: center;
    position: absolute;
    object-fit: fill;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    z-index: 999;
}

.hide-loading {
    display: none;
}
@keyframes anim-left {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }

}
.show {
    display: block;
    animation: anim-left .2s ease-in-out;
    position: absolute;
    z-index: 1;
}
.sidebar {
    display: none;
}
